
.img-responsive{
	height: 100%;
}

.col{
	height: 700px;
	width: 100%;
	overflow: hidden;
	padding-bottom: 50px;
	
}

h3 {
	font-family: poppins;
	font-weight: bolder;
	font-size:	60px;
	margin-left: 100px;
	
}
 
 .icon-small{
 	float: left;
 	display: inline;
 	font-size: 50px;
 	margin-left: 200px;
 }

#story{
	padding: 60px;
	font-family: poppins;
}

.navbar{
	font-family: poppins;
}


